<div class="container px-6">

    <!-- Section: Design Block -->
    <section class=" text-gray-800 text-center">

        <div class="px-6 md:px-12">
            <div class="container mx-auto justify-center">
                <div class="grid lg:grid-cols-2 flex items-center py-12">
                    <div style="z-index: 1" class="md:mt-12 lg:mt-0 pb-12">
                        <div class="pb-12 text-white border-end">
                            <p class="font-bold text-3xl ">Les saveurs Fromagères<br>à Bergues</p>
                        </div>
                        <div class="block h-96 bg-stone-700 rounded-lg shadow-lg px-6 py-12 md:px-12 lg:-mr-14">

                            <div class="flex flex-wrap">
                                <div class="mb-12 lg:mb-0 text-center mx-auto">
                                    <svg class="w-16 text-blue-600 mb-6 mx-auto" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 387.9 387.9" style="enable-background:new 0 0 387.9 387.9;" xml:space="preserve"><style type="text/css">.st0{fill:#258ACE;}  .st1{fill:#FDB735;}  .st2{fill:#36C136;}  .st3{fill:#FD2475;}  .st4{fill:#895EAD;}  .st5{fill:#D83632;}  .st6{fill:#30D4A2;}  .st7{fill:#46CCCC;}  .st8{fill:#4CC3CB;}  .st9{fill:#60B0E2;}  .st10{fill:none;stroke:#000000;stroke-width:14;stroke-miterlimit:10;}  .st11{fill:#FFFFFF;}</style><g><circle class="st10" cx="194" cy="194" r="168.8" id="id_101" style="stroke: rgb(255, 255, 255);"></circle><path d="M194.1,118.4c-41.2-0.2-69.7,41.7-54.4,78.7c11,26.6,28.9,48.5,48,69.5c3.7,4.1,8.9,3.8,12.8-0.2c3.4-3.5,6.5-7.2,9.6-10.9c14.5-17.5,27.8-35.6,37.4-56.4C264.9,160.6,234.8,118.2,194.1,118.4z M193.6,202.1c-14.5-0.3-26-12.2-25.9-26.7c0.1-14.5,11.9-26.1,26.5-26.1c14.5,0.1,26.3,12,26.3,26.4C220.4,190.4,208.2,202.4,193.6,202.1z" id="id_102" style="fill: rgb(255, 255, 255);"></path></g></svg>
                                    <h6 class="font-medium text-white">13 Rue Lamartine,<br>59380 Bergues</h6>
                                </div>

                                <div class="mb-12 md:mb-0 text-center mx-auto">
                                    <svg class="w-16 text-blue-600 mb-6 mx-auto" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 387.9 387.9" style="enable-background:new 0 0 387.9 387.9;" xml:space="preserve"><style type="text/css">.st0{fill:#258ACE;}  .st1{fill:#FDB735;}  .st2{fill:#36C136;}  .st3{fill:#FD2475;}  .st4{fill:#895EAD;}  .st5{fill:#D83632;}  .st6{fill:#30D4A2;}  .st7{fill:#46CCCC;}  .st8{fill:#4CC3CB;}  .st9{fill:#60B0E2;}  .st10{fill:none;stroke:#000000;stroke-width:14;stroke-miterlimit:10;}  .st11{fill:#FFFFFF;}</style><g><circle class="st10" cx="194" cy="194" r="168.8" id="id_101" style="stroke: rgb(255, 255, 255);"></circle><path d="M227.3,258.4c-7.1-0.2-14.6-1.7-21.5-5.1c-30.3-15.2-54.5-36.7-69.6-67.6c-2.5-5.1-4.5-10.4-5.8-15.9c-3.4-14.7,2-28.8,14.2-37.2c6.8-4.7,11.9-3.9,16.5,2.9c5,7.3,10.3,14.3,14.3,22.2c3.1,6.1,4.1,11.6-1.4,17.7c-6.9,7.6-6.5,16.1,0,23.9c4,4.9,8.2,9.7,12.6,14.1c7.3,7.4,14.8,8.4,24.1,3.9c1.2-0.6,2.5-1.1,3.5-1.9c7.9-6.6,15.4-5.4,23,0.5c5.5,4.3,11.7,7.6,16.7,12.6c5.8,5.7,6,9.5,1.4,16.3C248.8,254.6,239.2,258.2,227.3,258.4z" id="id_102" style="fill: rgb(255, 255, 255);"></path></g></svg>
                                    <a class="text-white" href="tel:03 28 20 42 72">03 28 20 42 72</a>
                                </div>
                            </div>

                            <div class="flex flex-wrap lg:pt-12 ">


                                <div class="mb-12 lg:mb-0 text-center mx-auto">
                                    <svg class="w-16 h-16 text-blue-600 mb-6 mx-auto" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><g id="Layer_1"><path d="M25,1C11.767,1,1,11.767,1,25s10.767,24,24,24s24-10.767,24-24S38.233,1,25,1z M25,47C12.869,47,3,37.131,3,25	S12.869,3,25,3s22,9.869,22,22S37.131,47,25,47z" id="id_101" style="fill: rgb(255, 255, 255);"></path><path d="M26,23.277V7h-2v16.277c-0.595,0.346-1,0.984-1,1.723c0,0.178,0.031,0.347,0.074,0.512l-8.781,8.781l1.414,1.414	l8.781-8.781C24.653,26.969,24.822,27,25,27c1.104,0,2-0.895,2-2C27,24.262,26.595,23.624,26,23.277z" id="id_102" style="fill: rgb(255, 255, 255);"></path></g><g></g></svg>
                                      <h6 class="font-medium text-white " id="ouverture"> <div class="dropdown py-2">
                                                <button class="dropdown-toggle inline-block px-6   bg-stone-800 text-white font-bold    uppercase rounded shadow-md hover:bg-stone-700 hover:shadow-lg focus:bg-stone-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-stone-800 active:shadow-lg active:text-white transition duration-150 ease-in-out flex items-center whitespace-nowrap" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Horaires d'ouverture                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 ml-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
                                                </button>
                                                <ul class=" bg-stone-600  dropdown-menu min-w-max absolute hidden text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none  " aria-labelledby="dropdownMenuButton2">
            <span class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-stone-600 text-white">
                    <table class="table-auto">
                      <thead>
                        <tr>
                          <th class="font-bold">Jours :</th>
                          <th class="font-bold">Horaires :</th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr>
                          <td class="py-2 pr-12">Lundi</td>
                          <td>09:00–12:15, 14:15–19:00</td>
                        </tr>
                         <tr>
                          <td class="py-2 pr-12">Mardi</td>
                          <td>Fermé</td>
                        </tr>
                         <tr>
                          <td class="py-2 pr-12">Mercredi</td>
                          <td>09:00–12:15, 14:15–19:00</td>
                        </tr>
                         <tr>
                          <td class="py-2 pr-12">Jeudi</td>
                          <td>09:00–12:15, 14:15–19:00</td>
                        </tr>
                         <tr>
                          <td class="py-2 pr-12">Vendredi</td>
                          <td>09:00–12:15, 14:15–19:00</td>
                        </tr>
                         <tr>
                          <td class="py-2 pr-12">Samedi</td>
                          <td>09:00–12:30, 14:15–19:00</td>
                        </tr>
                         <tr>
                          <td class="py-2 pr-12">Dimanche</td>
                          <td>09:30–12:30</td>
                        </tr>
                      </tbody>
                </table>
            </span>
                                                </ul>
                                            </div></h6></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class=" ">
                        <div style="height: 700px" class=" relative  shadow-lg rounded-lg">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2512.6228865766284!2d2.4301926772588636!3d50.96767627169548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dcf2be52636935%3A0x461d42e0a40e8ea9!2sLes%20Saveurs%20Fromag%C3%A8res!5e0!3m2!1sfr!2sfr!4v1671745989516!5m2!1sfr!2sfr" class="left-0 top-0 h-full w-full absolute rounded-lg" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->

</div>